Flask
Flask_Cors
pdf2image
chromadb
pypdf
tiktoken
pandas
langchain
atlassian-python-api
chromadb
huggingface-hub
torch
sentence-transformers
InstructorEmbedding
p4python
lxml
bs4
ibm-watson-machine-learning
